<html>
  <body style="background-color:#000;">
  <head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/steps.css">
    {% block head %} {% endblock %}
    {% block graphs %} {% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>

  <body>
    {% block body %}  {% endblock %}
    <script src="/static/scripts/jquery-3.2.1.min.js"></script>
    {% block scripts %}  {% endblock %}

  </body>
</html>