{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" href="/static/css/upload.css">
{% endblock %}   

{% block body %}
<div class="container">
  <div class="row bs-wizard complete" style="border-bottom:0;">
    <div class="col-xs-4 bs-wizard-step complete">
      <div class="text-center bs-wizard-stepnum">Upload Sketch</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="/" class="bs-wizard-dot"></a>
    </div>
    
    <div class="col-xs-4 bs-wizard-step complete">
      <div class="text-center bs-wizard-stepnum">Convert to Photo</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="/result" class="bs-wizard-dot"></a>
    </div>
    
    <div class="col-xs-4 bs-wizard-step disabled">
      <div class="text-center bs-F.sewizard-stepnum">Face Recognition</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="/knn" class="bs-wizard-dot"></a>
    </div>
  </div>
</div>
<div class="col-sm-6 center">
    <img src="https://dummyimage.com/300x400/d0f2f5/fff.jpg&text=animation+here" img-responsive center-block/>
</div>
<div class="col-sm-6 text-center">
  <div class="btn-group-vertical">
    <a href="#" class="btn btn-primary mtm">
      NYPD Criminal Database
    </a>
    <a href="#" class="btn btn-primary mtm">
      Singapore Criminal Database
    </a>
    <a href="/knn" class="btn btn-primary mtm">
      TavTech 2018 Database
    </a>
    <a href="#" class="btn btn-primary mtm">
      More...
    </a>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}