{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" href="/static/css/loading.css">
{% endblock %}   

{% block body %}
<div class="loading">
  <div class="container">
      <div class="row bs-wizard complete" style="border-bottom:0;">
        <div class="col-xs-4 bs-wizard-step complete">
          <div class="text-center bs-wizard-stepnum">Upload Sketch</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="/" class="bs-wizard-dot"></a>
        </div>
        
        <div class="col-xs-4 bs-wizard-step active">
          <div class="text-center bs-wizard-stepnum">Convert to Photo</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="/result" class="bs-wizard-dot"></a>
        </div>
        
        <div class="col-xs-4 bs-wizard-step disabled">
          <div class="text-center bs-wizard-stepnum">Face Recognition</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="/knn" class="bs-wizard-dot"></a>
        </div>
      </div>
    </div>
  <div class="circle"></div>
  <div class="circle-small"></div>
  <div class="circle-big"></div>
  <div class="circle-inner-inner"></div>
  <div class="circle-inner"></div>
  <div id="load">
    <div>G</div>
    <div>N</div>
    <div>I</div>
    <div>D</div>
    <div>A</div>
    <div>O</div>
    <div>L</div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="/static/scripts/upload.js"></script>
{% endblock %}