{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" href="/static/css/upload.css">
  <link rel="stylesheet" href="/static/css/loading.css">
{% endblock %}   

{% block body %}
  <form method="post" enctype=multipart/form-data action="{{ url_for('convert') }}" class="form-horizontal image-form" role="form">
    <div class="upload">
      <canvas id=c></canvas>
      <div class="center">
        <h1 class="brand-title">FACE REALITY</h1>
        <button type="button" class="btn btn-file btn-primary mtm">
          <span class="glyphicon glyphicon-open" aria-hidden="true"></span> Upload Sketch
          <input name="fileToUpload" id="fileToUpload" type="file" title="Select an image file" />
        </button>
      </div>
    </div>
    
    <div class="preview img-wrapper hide">
      <div class="container">
        <div class="row bs-wizard active" style="border-bottom:0;">
          <div class="col-xs-4 bs-wizard-step complete">
            <div class="text-center bs-wizard-stepnum">Upload Sketch</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="/" class="bs-wizard-dot"></a>
          </div>
          
          <div class="col-xs-4 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum">Convert to Photo</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="/result" class="bs-wizard-dot"></a>
          </div>
          
          <div class="col-xs-4 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum">Face Recognition</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="/knn" class="bs-wizard-dot"></a>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script src="/static/scripts/canvas.js"></script>
  <script src="/static/scripts/upload.js"></script>
{% endblock %}